body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Gabriela", serif;
}

#cutscene1-bg {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

#cutscene2-bg {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

#cutscene3-bg {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

#dialogue-box {
  position: fixed;
  bottom: 5%;
  width: 90%;
  left: 5%;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 2rem;
  z-index: 2;
  cursor: pointer;
  border-radius: 10px;
}

#character-name {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

#transition {
  position: fixed;
  opacity: 0;
  width: 100%;
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 10; 
  transition: opacity 3s ease;
  pointer-events: none;
}
