body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: black;
  font-family: "Gabriela", serif;
}

#cutscene-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

#characters {
  position: fixed;
  bottom: 25%;
  left: 5%;
  z-index: 2;
  display: flex;
  gap: 2rem;
}

#characters img {
  height: 40vh;
  object-fit: contain;
}

#dialogue-box {
  position: fixed;
  bottom: 5%;
  width: 90%;
  left: 5%;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 2rem;
  z-index: 3;
  cursor: pointer;
  border-radius: 10px;
}

#character-name {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
