.card {
    position: relative;
    width: 200px;
    padding: 12px 10px;
    background: #fff;
    border: 2px solid #333;
    border-radius: 10px;
    font-family: 'Segoe UI', sans-serif;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.card:hover{
    transform: scale(1.2);
}



.cost {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 40px;
    height: 40px;
    background: rgb(218, 113, 37);
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid #fff;
}

.name {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: 4px;
}



.image-container {
    width: 100%;
    height: 120px;
    background: #eee;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 10px;
    box-sizing: border-box;
    margin-block-start: 0.1em;
    margin-block-end: 0.3em;
    margin-inline-start: 1px;
    margin-inline-end: 1px;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
}


.effect {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 6px;
    color: #222;
}

.description {
    text-align: center;
    font-size: 14px;
    color: #444;
}
